<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="CycWpfLibrary.Resource" version="1.0.2" targetFramework="net461" />
  <package id="EMGU.CV" version="3.4.3.3016" targetFramework="net461" />
  <package id="FluentWPF" version="0.6.1" targetFramework="net461" />
  <package id="Fody" version="3.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net461" />
  <package id="NAudio" version="1.8.5" targetFramework="net461" />
  <package id="QuickConverter" version="1.2.5" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>